---
export const prerender = false; // Not needed in 'server' mode

import { getEntry, render } from "astro:content";
import Layout from "../../layouts/layout.astro";

const { id } = Astro.params;

if (id === undefined) {
    return Astro.redirect("/404");
}

const post = await getEntry("docs", id);

if (post === undefined) {
    return Astro.redirect("/404");
}

const { Content } = await render(post);
---
<Layout title={post.data.title} description={post.data.description}>
    <h1>{post.data.title}</h1>
    <h2>{post.data.description}</h2>
    <h3>{post.data.pubDate}</h3>

    <Content/>
</Layout>